{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona z grami v2</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
        {% if user.is_authenticated %} 
        <div class="logout">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form> 
        </div>
        {% else %}
        <a href="{% url 'login' %}"><div class="login">Log In</div></a>
        <a href="{% url 'signup' %}"><div class="register">Sign In</div></a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>