@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Special+Gothic+Expanded+One&display=swap');
body {
  margin: 0;
  text-align: center;
  font-family: "Special Gothic Expanded One", sans-serif;
  background: #222831;
}
.navbar{
  background: #31363F;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.navbar>a>div{
  
  cursor: pointer;
  display: flex;
  color: #f0f0f0;
  background: #76ABAE;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.3s;
  
}

.navbar>a{
  text-decoration: none;
}

.navbar>a>div:hover{
  background: #396062;
}

header {
  margin-bottom: 20px; 
  position: relative;
  display: inline-block;
}

h1{
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 75px;
  color:#EEEEEE;
  padding: 50px;
}
.subtitle{
  position: absolute;
  right:-200px;
  bottom: 100px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  animation: subtitleAnim 4s infinite;
  color: #497a7c;
  z-index: 1;
  user-select: none;
  width: 500px;
  text-overflow: clip;
}

@keyframes subtitleAnim {
  0% {
      transform: rotate(-10deg); 
  }
  50% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(-10deg);
  }
}

h2{
  color:#EEEEEE;
  padding: 50px;
}

.container {
  display: flex; 
  justify-content: center; 
  gap: 100px; 
}

.game1, .game2, .game3 {
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid #000; 
  border-radius: 5px; 
  text-align: center; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.game1:hover, .game2:hover, .game3:hover {
  background-color: #f0f0f0; 
  animation: tiltAnimation 5s infinite;
}



@keyframes tiltAnimation {
  0% {
      transform: scale(1.1) rotate(-5deg); 
  }
  50% {
      transform: scale(1.1) rotate(5deg);
  }
  100% {
      transform: scale(1.1) rotate(-5deg);
  }
}

.container>div>img{
  width: 15vw;
  height: 15vw;
}

.leaderboards{
  display: inline-block;
  position: relative;
  margin-top:50px ;
  background: #76ABAE;
  padding: 30px;
  width: 150px;
  border-radius: 5px;
  transition: 0.3s;
}

.leaderboards:hover{
  background: #396062;
}

.leaderboards>a{
  color:#f0f0f0;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scorelist {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
}

.score {
  border: solid 1px;
  padding: 10px;
  text-align: center;
  width: 20vw;
  border-collapse: collapse;
  transition: 0.3s;
  background: #31363F;

}

.score:hover{
  transform: scale(1.1);
  background: #396062;
}

.score:first-of-type:hover{
  transform: scale(1.1);
  background: #76ABAE;
}

form>input{
  background: #76ABAE;
  margin: 20px;
  padding: 20px;
  border: none;
  font-size: 40px;
  font-family: "Special Gothic Expanded One", sans-serif;
  transition: 0.3s;
}
form>input:hover{
  background: #497a7c;
}

form>div>div>ul{
  list-style-type: none;
}


form>div>label{
  color:#f0f0f0;
  font-size: 40px;
}
form>div>input{
  background: #404964;
  border: none;
  width: 350px;
  padding: 10px;
}
nav>div>form>button{
  cursor: pointer;
  display: flex;
  color: #f0f0f0;
  background: #76ABAE;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: "Special Gothic Expanded One", sans-serif;
  border:none; 
}

nav>div>form>button:hover{
  background: #396062;
}