{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="centerbox">
        <header>
            <h1>Strona z Grami v2</h1>
        </header>
        <main>
            <h3>Wybierz gre</h3>
            <div class="container">
                <div class="game1">Snake</div>
                <div class="game2">Bullet Hell</div>
                <div class="game3">Xd</div>
            </div>
        </main>
    </div>
</body>
</html>