{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="login">Log In</div>
        <div class="register">Sign In</div>
    </nav>
        <header>
            <h1>Strona z Grami v2</h1>
            <div class="subtitle">Miśka Montis!</div>
        </header>
        <main>
            <h2>Wybierz gre</h2>
            <div class="container">
                <div class="game1"><p>Snake</p>
                    <img src="{% static 'snake.png' %}" alt="snake">
                </div>
                <div class="game2">Bullet Hell</div>
                <div class="game3">Clicker</div>
            </div>
        </main>
        <div class="leaderboards">
            <a href="">LEADERBOARDS</a>
        </div>
</body>
</html>